body {
  background-color:aliceblue;
}


header {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

main img {
  width: 100%;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

hr {
  border-style:solid;
  border-width: 1px;   
}

.group-header {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.item {
  flex: 1;
  flex-direction: column;
  margin: 10px;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.bgcallout {
  background-color: cornflowerblue;
  padding: 15px;
}

h1 {
  font-size: 30px;
  margin-bottom: 0;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 15px;
}

main div ul {
  list-style: none;
}

main div ul li a {
  font-size: 15px;
}

footer{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}


.contact {
    a:link {color: blue;}
    a:visited {color: purple;}
    a:hover {color:lightblue;}
    a:active {color: red;}
  }


@media (min-width: 800px ) {
  .about-content {
    flex-direction: row;
}
}

@media (min-width: 600px) {
  .group {
    flex-direction: row;
  }

}